In [1]:
import pandas as pd

df = pd.read_csv('customer_spend.csv')
df.head()

   cur_year_spend  prev_year_spend  ...    income  engagement_score
0         5536.46          1681.26  ...  97914.93         -0.652392
1          871.41          1366.74  ...  30904.69          0.007327
2         2046.74          1419.38  ...  48194.59          0.221666
3         4662.70          1561.21  ...  93551.98          1.149641
4         3539.46          1397.60  ...  66267.57          0.835834

[5 rows x 8 columns]

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

cols = df.columns[1:]
X = df[cols]

y = df['cur_year_spend']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 100)

In [3]:
from sklearn.feature_selection import RFE
rfe = RFE(estimator=LinearRegression(), n_features_to_select=3)

In [4]:
rfe.fit(X_train,y_train)

RFE(estimator=LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
                               normalize=False),
    n_features_to_select=3, step=1, verbose=0)

In [5]:
for featureNum in range(X_train.shape[1]):
  # If feature was selected
  if rfe.support_[featureNum] == True:
    # Print feature name and rank
    print("Feature: {}, Rank: {}".format(X_train.columns[featureNum],rfe.ranking_[featureNum]))

Feature: days_since_first_purchase, Rank: 1
Feature: total_transactions, Rank: 1
Feature: engagement_score, Rank: 1

In [6]:
X_train_reduced = X_train[X_train.columns[rfe.support_]]
X_test_reduced = X_test[X_train.columns[rfe.support_]]

In [7]:
rfe_model = LinearRegression()
rfe_model.fit(X_train_reduced,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [8]:
from sklearn.metrics import mean_squared_error

rfe_predictions = rfe_model.predict(X_test_reduced)
print(mean_squared_error(rfe_predictions, y_test)**0.5)

1075.9083016269915